/* Estilos generales */
:root{
    --rojo: red;
    --back: black;
}

/* Previene que se carguen márgenes por default en otros navegadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background: #000;
    font-family: 'Open Sans', sans-serif;

  }
  
  /*mantendra un margen de 5% a la iz y 5% a la derecha */

.contenedor {
    width: 90%;
    margin: auto;
}

header{
    padding: 30px 0;
}

/*alinea los elementos al centro y mantiene en cada esquina el menú y el logo, solo en el header*/

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
}

/*se le quitan los subrayados a los link*/

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 28px;
}

header nav a:hover, 
header nav a.activo {
    color: #FFF;
}
  
  h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #e50914;
    margin-left: 25px;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
    width: 20%;
    margin-left: 25px;
  }
  
  #galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    margin-right: 10px;
    margin-left: 25px;
    
  }

  #galeria #block {
    margin: 0;
    justify-content: end;
    padding-right: 10px;
  }
  
  
#galeria img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

  }

#galeria img.hover{
  transform: scale(1.2);
  transform-origin: center;
}

  .pelicula .titulo {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .pelicula .info {
    padding: 10px;
    font-size: 14px;

  }
  
  /* Estilos específicos para simular el estilo de catálogo de Netflix */
  .container {
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  h3 {
    font-size: 15px;
    margin: 40px 5px 2px;
    color: #fff;

  }

  p {
    font-size: 12px;
    margin: 5px 0 5px;
    color: #fff;
  }
  
  select {
    background-color: #e50914;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .pelicula {
    transition: transform 0.3s;
  }
  
  .pelicula:hover {
    transform: scale(1.05);
  }
  